@import './variables.css';

.section-image {
    border-radius: 25px;
    box-shadow: 0 5px 10px gray;
}



body.scanner-active {
    --background: transparent;
    --ion-background-color: transparent;
}